.root {
  width: 100%;
  min-height: 100vh;
}

.verify-code {
  --ReactInputVerificationCode-itemWidth: 3.9rem;

  --ReactInputVerificationCode-itemHeight: 3.5rem;
  margin-bottom: 20px;
}

.verify-code .ReactInputVerificationCode__container {
  width: auto;
  overflow: hidden;
}

.verify-code .ReactInputVerificationCode__item {
  position: relative;
  color: #8bc34a;
  font-weight: 500;
  box-shadow: none;
  border: 1px solid #8bc34a;
}

.verify-code .ReactInputVerificationCode__item.is-active {
  box-shadow: 0 0 3px 1px #8bc34a inset;
}
